### navigation
#alias l='ls -F'
#alias ll='ls -l'
#alias la='ls -A'
alias lla='la -lA'

# list
if command -v exa 2>&1 >/dev/null; then
    # exa is our friend :)
    # check if exa has been compiled with certain support and use it if so
    exaargs="--color-scale -hlg --time-style long-iso"
    if exa --octal-permissions > /dev/null 2>&1; then
        exaargs="$exaargs --octal-permissions"
    fi
    if exa --git > /dev/null 2>&1; then
        exaargs="$exaargs --git"
    fi
    if exa --icons > /dev/null 2>&1; then
        exaargs="$exaargs --icons"
    fi

    alias ls="exa $exaargs"
    
    alias l='ls'
    alias la='ls -a'
    alias lla='la'
    alias lt='ls --tree'
    alias lat='la --tree'
else
    # fallback to normal ls
    alias l='ls'
fi

alias cd..="cd .."
alias ...="../.."
alias ....="../../.."
alias .....="../../../.."
alias ......="../../../../.."
alias .......="../../../../../.."
alias ........="../../../../../../.."
alias -- -="cd -"

### commands
alias -- +x='chmod +x'
alias -- -x='chmod -x'
alias f='free -m'
alias ff='df -h'
alias d='df -h'
alias h='htop'
#alias i='iotop'
alias n='nload'
alias wtf='dmesg | tail -n 15'
alias wget-mirror='wget -m -np -p -k'
alias rsync-copy='rsync -avP'

if command -v fdfind 2>&1 >/dev/null; then
    alias fd=fdfind
fi

# use bat for pretty cat
if command -v bat 2>&1 >/dev/null; then
	# back of original cat
	alias catcat='cat'
    alias cat='bat -pp'
    export MANPAGER="sh -c 'col -bx | bat -l man -p'"
fi


# inspired by https://github.com/jessfraz/dotfiles/

# Check for various OS openers. Quit as soon as we find one that works.
for opener in browser-exec xdg-open cmd.exe cygstart "start" open; do
	if command -v $opener >/dev/null 2>&1; then
		if [[ "$opener" == "cmd.exe" ]]; then
			# shellcheck disable=SC2139
			alias open="$opener /c start";
		else
			# shellcheck disable=SC2139
			alias open="$opener";
		fi
		break;
	fi
done

# Linux specific aliases, work on both MacOS and Linux.
pbcopy() {
	stdin=$(</dev/stdin);
	pbcopy="$(which pbcopy)";
	if [[ -f "$pbcopy" ]]; then
		echo "$stdin" | "$pbcopy"
	else
		echo "$stdin" | xclip -selection clipboard
	fi
}
pbpaste() {
	pbpaste="$(which pbpaste)";
	if [[ -f "$pbpaste" ]]; then
		"$pbpaste"
	else
		xclip -selection clipboard
	fi
}

# Get week number
alias week='date +%V'
alias kw=week

# Stopwatch
#alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Trim new lines and copy to clipboard
#alias c="tr -d '\\n' | xclip -selection clipboard"

# copy to clipboard
alias c="xclip -selection clipboard"

# copy working directory
alias cwd='pwd | tr -d "\r\n" | xclip -selection clipboard'

# copy file interactive
alias cp='cp -i'

# move file interactive
alias mv='mv -i'

# untar
alias untar='tar xvf'

# Pipe my public key to my clipboard.
#alias pubkey="more ~/.ssh/id_ed25519.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"
alias pubkey="more ~/.ssh/id_rsa.pub | xclip -selection clipboard | echo '=> Public key copied to pasteboard.'"

# Pipe my private key to my clipboard.
#alias privkey="more ~/.ssh/id_ed25519 | xclip -selection clipboard | echo '=> Private key copied to pasteboard.'"
alias privkey="more ~/.ssh/id_rsa | xclip -selection clipboard | echo '=> Private key copied to pasteboard.'"

